<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Testing1.Properties.Settings.p2774538ConnectionString"
            connectionString="Data Source=v00egd00002l.lec-admin.dmu.ac.uk;Initial Catalog=p2774538;User ID=p2774538;Password=Teamfullmarks123"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>